/* SHARED STYLES */
h4 {
  text-align: center;
}

.main-card {
  height: 280px;
  margin: 25px 20px 0 20px !important;
}

.carousel-background {
  margin-bottom: 25px;
}

.card {
  margin: 20px;
}

.card-content {
  padding: 0 !important;
}

.wps-main-component,
.nwp-main-component {
  text-align: center;
  padding: 10px 0;
  background: -webkit-linear-gradient(top, rgba(23,95,144, 0.7) 0%,rgba(17,55,92, 0.2) 100%) !important;
  margin: 0 0 10px 0;
}

.wps-main-container,
.nwp-main-container {
  display: flex;
  margin: 0;
}

/* NWP CAROUSEL CARD */

.main-container {
  display: flex;
}

.left-container {
  margin: 0 0 0 30px;
  width: 45%;
}

.range-slider-container {
  width: 55%;
}

.data-assimilation-options-title {
  margin: 20px auto 15px auto;
}

.three-dvar-btn,
.three-densvar-btn,
.four-densvar-btn {
  background: -webkit-linear-gradient(top, rgba(23,95,144, 0.7) 0%,rgba(17,55,92, 0.2) 100%);
  margin: 0 10px;
  width: 240px;
}

.three-dvar-btn-container,
.three-densvar-btn-container {
  margin: 5px 0 12px 0;
}

.three-dvar-btn:focus,
.three-densvar-btn:focus,
.four-densvar-btn:focus {
  background: -webkit-linear-gradient(top, rgba(23,95,144, 0.7) 0%,rgba(17,55,92, 0.2) 100%);
  margin: 0 10px;
  width: 240px;
}

.three-dvar-btn:hover,
.three-densvar-btn:hover,
.four-densvar-btn:hover {
  background: -webkit-linear-gradient(top, rgba(23,95,144, 0.7) 0%,rgba(17,55,92, 0.2) 100%);
  margin: 0 10px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  width: 240px;
}

.three-dvar-btn-selected,
.three-densvar-btn-selected,
.four-densvar-btn-selected {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  margin: 0 10px;
  width: 240px;
}

.nwp-back-main-container {
  margin-bottom: 0;
}

.cycling-frequency-options-title {
  margin: 20px auto 45px auto;
}

.show-hours-container {
  text-align: center;
  margin: 30px auto;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  height: 30px;
  width: 100px;
  border-radius: 2px;
}

.hours-number {
  text-align: left;
  padding: 5px 0 0 5px !important;
  font-size: 16px;
  color: white;
}

.hours-title {
  font-size: 16px;
  text-align: right;
  padding: 5px 5px 0 0 !important;
  color: white;
}

.nwp-next-btn-container {
  padding: 0 !important;
}

.nwp-next-btn-enabled {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  float: left;
  margin: 102px 0 10px 0;
  padding: 0 10px;
}

.nwp-next-btn-disabled {
  cursor: no-drop;
  float: left;
  margin: 102px 0 10px 0;
  padding: 0 10px;
}

.nwp-next-btn-disabled,
.nwp-next-btn-disabled:hover,
.nwp-next-btn-disabled:focus {
  background-color: lightgray;
}

/* NWP CAROUSEL CARD BACKSIDE */
#nwp-day-range-slider {
  margin: 40px 0 10px 0;
}

#nwp-year-range-slider {
  margin: 40px 0 10px 0;
}

#nwp-minute-range-slider {
  margin: 40px 0 10px 0;
}

#nwp-second-range-slider {
  margin: 40px 0 10px 0;
}

/* WPS CAROUSEL CARD */
.domain-main-box {
  border: 1px solid black;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.time-main-box {
  border: 1px solid black;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.wps-back-arrow {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  float: right;
  margin: 157px 0 0 0;
  padding: 0 10px;
}

.wps-forward-arrow {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  float: left;
  margin: 102px 0 10px 0;
  padding: 0 10px;
}

.physics-btn {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  margin: 20px 0;
  width: 240px;
}

/* WRFDA CAROUSEL CARD */
.wrfda-back-arrow {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  float: right;
  margin: 157px 0 0 0;
  padding: 0 10px;
}

.wrfda-forward-arrow {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  float: left;
  margin: 102px 0 10px 0;
  padding: 0 10px;
}

/* CAROUSEL CONTAINER */
.col.s10.m10.l10 {
  padding: 0;
}

.time {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}

.flipper {
  transform: rotateY(180deg);
}

.flip-back-btn {
  float: left;
  margin: 10px 0;
  padding: 0 10px;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.time .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.time .back {
  transform: rotateY(180deg);
}

.side, div.side.back {
  border-radius: 2px;
}

.edit-btn {
  margin: 230px 10px 0 10px;
  float: right;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.play-component-btn {
  margin: 230px 10px 0 0;
  float: right;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.arrow-btn-container {
  text-align: center;
}

.arrow-button-back, .arrow-button-forward {
  margin: 0 10px;
  padding: 0 10px;
}

.arrow-button-back {
  margin: 160px 0 0 0;
  float: right;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.arrow-button-forward {
  margin: 160px 0 0 0;
  float: left;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.flip-btn {
  float: left;
  margin: 10px 0;
  padding: 0 10px;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

/* MODAL */

.modal-close, .modal-save-btn {
  margin: 6px 10px !important;
  padding: 0 15px;
}

button.btn.toast {
  top: 0;
  min-height: initial;
  font-weight: 400;
  line-height: 0;
  padding: 0 15px;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}
