/* SHARED STYLES */
h4 {
  text-align: center;
}

.main-card {
  height: 280px;
  margin: 25px 20px 0 20px !important;
}

.btn:focus {
  background-color: inherit !important;
}

.carousel-background {
  margin-bottom: 25px;
}

.card {
  margin: 20px;
}

.card-content {
  padding: 0 !important;
}

.wps-main-component,
.nwp-main-component,
.da-main-component {
  text-align: center;
  padding: 10px 0;
  background: -webkit-linear-gradient(top, rgba(23,95,144, 0.7) 0%,rgba(17,55,92, 0.2) 100%) !important;
  margin: 0 0 10px 0;
}

.wps-main-component-white,
.nwp-main-component-white,
.da-main-component-white {
  text-align: center;
  padding: 10px 0;
  background: -webkit-linear-gradient(top, rgba(23,95,144, 0.7) 0%,rgba(17,55,92, 0.2) 100%) !important;
  margin: 0 0 10px 0;
  color: white;
}

.wps-main-container,
.nwp-main-container {
  display: flex;
  margin: 0;
}

/* NWP CAROUSEL CARD */

.main-container {
  display: flex;
}

.left-container {
  margin: 0 0 0 30px;
  width: 45%;
}

.range-slider-container {
  width: 55%;
}

.data-assimilation-options-title {
  margin: 20px auto 15px auto;
}

.three-dvar-btn,
.three-densvar-btn,
.four-densvar-btn {
  background: -webkit-linear-gradient(top, rgba(23,95,144, 0.7) 0%,rgba(17,55,92, 0.2) 100%);
  margin: 0 10px;
  width: 240px;
}

.three-dvar-btn-container,
.three-densvar-btn-container {
  margin: 5px 0 12px 0;
}

.three-dvar-btn:focus,
.three-densvar-btn:focus,
.four-densvar-btn:focus {
  background: -webkit-linear-gradient(top, rgba(23,95,144, 0.7) 0%,rgba(17,55,92, 0.2) 100%);
  margin: 0 10px;
  width: 240px;
}

.three-dvar-btn:hover,
.three-densvar-btn:hover,
.four-densvar-btn:hover {
  background: -webkit-linear-gradient(top, rgba(23,95,144, 0.7) 0%,rgba(17,55,92, 0.2) 100%);
  margin: 0 10px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  width: 240px;
}

.three-dvar-btn-selected,
.three-densvar-btn-selected,
.four-densvar-btn-selected {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  margin: 0 10px;
  width: 240px;
}

.nwp-back-main-container {
  margin-bottom: 0;
}

.cycling-frequency-options-title {
  margin: 20px auto 45px auto;
}

.show-hours-container {
  text-align: center;
  margin: 10px auto;
  width: 100px;
}

.hours-number {
  text-align: left;
  padding: 5px 0 0 5px !important;
  font-size: 16px;
}

.hours-title {
  font-size: 16px;
  text-align: right;
  padding: 5px 5px 0 0 !important;
}

.nwp-next-btn-container {
  padding: 0 !important;
}

.nwp-next-btn-enabled {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  float: left;
  margin: 102px 0 10px 0;
  padding: 0 10px;
}

.nwp-next-btn-disabled {
  cursor: no-drop;
  float: left;
  margin: 102px 0 10px 0;
  padding: 0 10px;
}

.nwp-advanced-btn-enabled {
  float: left;
  margin: 10px 0;
  padding: 0 10px;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.nwp-advanced-btn-disabled {
  cursor: no-drop;
  float: left;
  margin: 10px 0;
  padding: 0 10px;
}

.nwp-next-btn-disabled,
.nwp-next-btn-disabled:hover,
.nwp-next-btn-disabled:focus,
.nwp-advanced-btn-disabled,
.nwp-advanced-btn-disabled:hover,
.nwp-advanced-btn-disabled:focus {
  background-color: lightgray !important;
}

/* NWP CAROUSEL CARD BACKSIDE */
#nwp-day-range-slider {
  margin: 40px 0 10px 0;
}

#nwp-year-range-slider {
  margin: 40px 0 10px 0;
}

#nwp-minute-range-slider {
  margin: 40px 0 10px 0;
}

#nwp-second-range-slider {
  margin: 40px 0 10px 0;
}

/* WPS CAROUSEL CARD */
.domain-main-box {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  -webkit-box-shadow: 0px 1px 15px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 1px 15px rgba(0,0,0,.7);
  box-shadow: 0px 1px 15px rgba(0,0,0,.7);
}

.leaflet-container {
  height: 200px;
  width: 200px;
}

.wps-back-arrow {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  float: right;
  margin: 157px 0 0 0;
  padding: 0 10px;
}

.wps-forward-arrow {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  float: left;
  margin: 102px 0 10px 0;
  padding: 0 10px;
}

.physics-btn {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  margin: 20px 0;
  width: 240px;
}

/* DA CAROUSEL CARD */
.da-back-arrow {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  float: right;
  margin: 157px 0 0 0;
  padding: 0 10px;
}

.da-forward-arrow {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  float: left;
  margin: 102px 0 10px 0;
  padding: 0 10px;
}

/* DA CAROUSEL CARD BACK */

.da-back-container {
  display: flex;
}

.da-observations-container,
.da-background-error-covariance-container {
  margin: 0 auto;
  float: left;
  height: 200px;
  width: 300px;
}

.observations-title,
.background-error-covariance-title {
  padding: 10px 0 0 0;
  font-size: 16px;
}

.da-background-error-covariance-container {
  margin-left: 0 !important;
}

/* CAROUSEL CONTAINER */
.col.s10.m10.l10 {
  padding: 0;
}

.time {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}

.flipper {
  transform: rotateY(180deg);
}

.flip-back-btn {
  float: left;
  margin: 10px 0;
  padding: 0 10px;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.time .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.time .back {
  transform: rotateY(180deg);
}

.side, div.side.back {
  border-radius: 2px;
}

.edit-btn {
  margin: 230px 10px 0 10px;
  float: right;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.play-component-btn {
  margin: 230px 10px 0 0;
  float: right;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.arrow-btn-container {
  text-align: center;
}

.arrow-button-back, .arrow-button-forward {
  margin: 0 10px;
  padding: 0 10px;
}

.arrow-button-back {
  margin: 160px 0 0 0;
  float: right;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.arrow-button-forward {
  margin: 160px 0 0 0;
  float: left;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.flip-btn {
  float: left;
  margin: 10px 0;
  padding: 0 10px;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

/* MODAL */

.modal-close, .modal-save-btn {
  margin: 6px 10px !important;
  padding: 0 15px;
}

button.btn.toast {
  top: 0;
  min-height: initial;
  font-weight: 400;
  line-height: 0;
  padding: 0 15px;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

/* BOUNDARY CONDITIONS BOX */

.time-main-box-title-row {
  margin: 5px 0 0 38px;
}

.time-main-box-flip-btn {
  float: right;
  margin: 8px 5px 0 0;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 1px 5px 0 rgba(0,0,0,0.12),
              0 3px 1px -2px rgba(0,0,0,0.2);
  font-size: 5px;
  height: 22px;
  padding: 0;
  line-height: 0 !important;
}

.boundary-conditions-flip {
  line-height: 1.1 !important;
  padding: 2px !important;
}

.auxiliary-boundary-conditions-title-row {
  margin: 5px 0 0 28px;
}

.time-main-box {
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.box {
  -webkit-box-shadow: 0px 1px 15px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 1px 15px rgba(0,0,0,.7);
  box-shadow: 0px 1px 15px rgba(0,0,0,.7);
}

.gfs-row, .hrrr-row,
.nam-row {
  border-radius: 2px;
  margin: 2px 5px;
  padding: 5px;
}

.gfs-row:hover, .hrrr-row:hover,
.nam-row:hover {
  background-color: rgba(0,0,0,.1);
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,.7);
  box-shadow: 0px 1px 5px rgba(0,0,0,.7);
  cursor: pointer;
}

.gfs-row-selected,
.hrrr-row-selected,
.nam-row-selected {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,.7);
  box-shadow: 0px 1px 5px rgba(0,0,0,.7);
  color: white;
}

.gfs-container-selected,
.hrrr-container-selected,
.nam-container-selected {
  webkit-box-shadow: 0px 1px 12px rgba(255,255,255) !important;
  box-shadow: 0px 1px 12px rgba(255,255,255) !important;
}

.gfs-container {
  height: 40px;
  width: 40px;
  float: left;
  position: relative;
  text-align: center;
  border-radius: 100px;
  webkit-box-shadow: 0px 1px 10px rgba(0,0,0,.7);
  box-shadow: 0px 1px 10px rgba(0,0,0,.7);
  color: white;
}

.gfs-title-container {
  padding-top: 4px;
  font-size: 12px;
}

.gfs-text-container {
  margin: 3% 0 0 0;
  font-size: 8px;
}

.gfs-acronym-lettering {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
}

.hrrr-title-container {
  font-size: 12px;
}

.hrrr-text-container {
  font-size: 8px;
}

.hrrr-container {
  height: 40px;
  width: 40px;
  float: left;
  position: relative;
  text-align: center;
  border-radius: 100px;
  webkit-box-shadow: 0px 1px 10px rgba(0,0,0,.7);
  box-shadow: 0px 1px 10px rgba(0,0,0,.7);
  color: white;
}

.hrrr-acronym-lettering {
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: .8px;
}

.nam-container {
  height: 40px;
  width: 40px;
  display: inline-block;
  float: left;
  position: relative;
  text-align: center;
  border-radius: 100px;
  webkit-box-shadow: 0px 1px 10px rgba(0,0,0,.7);
  box-shadow: 0px 1px 10px rgba(0,0,0,.7);
  color: white;
}

.nam-title-container {
  font-size: 12px;
}

.nam-text-container {
  font-size: 8px;
}

.nam-acronym-lettering {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1.5px;
}

/* DA CAROUSEL CARD */

.da-container-front {
  display: flex;
  float: left;
}

.wrfda-container,
 .gsi-container {
  box-shadow: 0px 1px 5px rgba(0,0,0,.7);
  border-radius: 3px;
  height: 185px;
  width: 285px;
  margin: 10px auto;
  vertical-align: middle;
  opacity: 0.6;
}

.wrfda-gsi-container-selected {
  box-shadow: 0px 1px 15px rgba(0,0,0,.7);
  opacity: 1.0;
}

.wrfda-container:hover,
 .gsi-container:hover {
  cursor: pointer;
  box-shadow: 0px 1px 15px rgba(0,0,0,.7);
  opacity: 1.0;
}

.ncep-image {
  border-radius: 2px;
  height: 140px;
  width: 140px;
  /* width: 255px; */
  margin: 20px auto;
}

.wrfda-image {
  border-radius: 2px;
  height: 140px;
  width: 140px;
  margin: 20px auto;
}
