.modal-content {
  padding: 0 !important;
}

.modal-overlay {
  z-index: 1002;
  display: block;
  opacity: 0.5;
}

.physics-modal {
  z-index: 1003;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 5%;
  background-color: white;
}

.modal {
  max-height: 100%;
  width: 720px;
}

.physics-title {
  margin: 25px 0 20px 0 !important;
  font-weight: 400;
}

.physics-general-btn,
.physics-general-btn:hover,
.physics-microphysics-btn,
.physics-microphysics-btn:hover,
.physics-radiation-btn,
.physics-radiation-btn:hover,
.physics-land-ocean-btn,
.physics-land-ocean-btn:hover,
.physics-boundary-layer-btn,
.physics-boundary-layer-btn:hover,
.physics-cumulus-btn,
.physics-cumulus-btn:hover,
.physics-lightning-btn,
.physics-lightning-btn:hover {
  background: rgba(0,0,0, 0.8);
  border-radius: 0px;
  line-height: 0;
  height: 30px;
  width: 150px;
  padding: 0;
  font-size: 12px;
}

.physics-general-btn:hover,
.physics-microphysics-btn:hover,
.physics-radiation-btn:hover,
.physics-land-ocean-btn:hover,
.physics-boundary-layer-btn:hover,
.physics-cumulus-btn:hover,
.physics-lightning-btn:hover {
  background: rgba(0,0,0,.6);
  border-radius: 0px;
  line-height: 0;
  height: 30px;
  width: 150px;
  padding: 0;
  font-size: 12px;
}

.physics-general-selected,
.physics-general-selected:hover,
.physics-microphysics-selected,
.physics-microphysics-selected:hover,
.physics-radiation-selected,
.physics-radiation-selected:hover,
.physics-land-ocean-selected,
.physics-land-ocean-selected:hover,
.physics-boundary-layer-selected,
.physics-boundary-layer-selected:hover,
.physics-cumulus-selected,
.physics-cumulus-selected:hover,
.physics-lightning-selected,
.physics-lightning-selected:hover {
  background: -webkit-linear-gradient(#175f90 0%, #11375c 100%);
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0);
  box-shadow: 0px 1px 5px rgba(0,0,0);
}

.physics-subheaders-container {
  text-align: center;
}

.physics-search-form {
  display: flex;
  width: 230px !important;
  margin: 15px 0 0 0;
  padding-right: 20px !important;
}

.physics-suite-title,
.mp-physics-title,
.ra-lw-physics-title,
.ra-lw-physics-numbers-container,
.ra-sw-physics-title,
.ra-sw-physics-numbers-container,
.radt-title,
.radt-container,
.radt-value {
  text-align: center;
}

.ra-lw-physics-title,
.ra-sw-physics-title {
  margin: 25px 45px 15px 45px !important;
}


[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid #175f90;
  background-color: #175f90;
}

.physics-suite-options,
.mp-physics-range-slider,
.radt-options {
  margin: 40px 0 10px 0 !important;
}

.ra-lw-physics-numbers,
.ra-sw-physics-numbers {
  padding: 0 5px !important;
  margin: 5px;
  width: 30px;
}

.ra-lw-physics-numbers,
.ra-lw-physics-numbers:hover,
.ra-sw-physics-numbers,
.ra-sw-physics-numbers:hover {
  background: -webkit-linear-gradient(top, rgba(23,95,144, 0.7) 0%,rgba(17,55,92, 0.2) 100%);
}

.ra-lw-physics-select,
.ra-lw-physics-select:hover,
.ra-sw-physics-select,
.ra-sw-physics-select:hover {
  background: -webkit-linear-gradient(#175f90 0%, #11375c 100%);
  -webkit-box-shadow: 0px 2px 8px rgba(0,0,0);
  -moz-box-shadow: 0px 2px 8px rgba(0,0,0);
  box-shadow: 0px 2px 8px rgba(0,0,0);
}

.radt-title,
.radt-options {
  margin: 0 !important;
}

.input-field.s2 {
  padding: 0;
}

.radt-value {
  border-bottom: 1px solid #175f90 !important;
  -webkit-box-shadow: 0 1px 0 0 #175f90 !important;
  box-shadow: 0 1px 0 0 #175f90 !important;
}
