/* SUMMARY CONTAINER */

html {
  line-height: 1.2;
}

.summary-container {
  background-color: white;
  display: flex;
  height: 110px;
  margin-bottom: 8px;
}

.summary-title {
  text-align: center;
}

.summary-component {
  height: 100px;
  margin: 15px 0 0 0;
  vertical-align: middle;
  background: -webkit-linear-gradient(top, rgba(23,95,144, 0.7) 0%,rgba(17,55,92, 0.2) 100%) !important;
}

.summary-component:hover {
  cursor: pointer;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.play-container {
  margin: 10px 0;
  text-align: center;
}

.main-play-button {
  margin: 20px 0 20px 0;
  padding: 0 10px;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.material-icons {
  float: none !important;
}

p.cycle-container {
  font-size: 18px;
  text-align: center;
}

.play-component-btn {
  padding: 0 10px;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

/* NWP CONTAINER */
.nwp-three-dvar {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  border-radius: 2px;
  color: lightgray;
  font-size: 12px;
  margin: auto;
  padding: 2px;
  text-align: center;
  width: 54px;
}

.nwp-three-densvar,
.nwp-four-densvar {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  border-radius: 2px;
  color: lightgray;
  font-size: 12px;
  margin: auto;
  padding: 2px;
  text-align: center;
  width: 80px;
}

.nwp-summary-container-row {
  margin-bottom: 3px;
}

/* WPS CONTAINER */
#wps-box {
  float: left;
}

.wps-three-boxes {
  text-align: center;
}

.wps-text {
  text-align: center;
  margin: 6px 0 1px 0;
  padding-left: 25px;
  line-height: 1.5;
}

.wps-job-icon {
  float: right !important;
}

.icon-white {
  color: white;
}

#domain-box {
  height: 55px;
  width: 55px;
  border-radius: 2px;
  display: inline-block;
  margin: 0 10px 0 0;
}

#calendar-box {
  height: 55px;
  width: 55px;
  border-radius: 2px;
  display: inline-block;
  margin: 0 10px 0 0;
}

#jobType-box {
  height: 55px;
  width: 55px;
  border-radius: 2px;
  display: inline-block;
}

.top-left-corner-cycle-arrow {
  transform: rotate(180deg);
  color: lightgray;
  margin: 55px 5px 0 0;
}

.top-right-corner-cycle-arrow {
  color: lightgray;
  margin: 55px 0 0 1px;
  transform: rotate(270deg);
}

.top-right-arrow-div {
  margin: 0 0 0 13px;
  padding: 0 !important;
  position: relative;
  width: 20px;
}

.top-left-arrow-div {
  margin: 0 12px;
  padding: 0 !important;
  position: relative;
  width: 20px;
}

.top-cycle-arrow {
  color: lightgray;
  margin: 50px 1px;
  transform: rotate(180deg);
}

.bottom-cycle-arrow {
  color: lightgray;
  margin: 0 0 10px 0;
  padding-top: 10px;
}

.bottom-right-corner-cycle-arrow {
  float: right;
  padding: 6px 10px 0 0;
  color: lightgray;
  margin-right: 17px;
}

.bottom-right-arrow {
  margin: 0 80px 10px 0;
  padding-top: 10px;
}

.bottom-left-corner-cycle-arrow {
  float: left;
  transform: rotate(90deg);
  margin: 0 0 15px 5px;
  color: lightgray;
}

.bottom-arrow-div {
  display: flex;
}

.dot {
  font-size: 6px;
  padding: 19px 0;
  margin: 0 auto;
  color: lightgray;
}

.top-right-dot {
  margin: 0 13px;
  padding: 0;
}

.bottom-right-dot {
  margin: 0 13px;
  padding: 0;
}

.top-left-dot {
  padding: 0 8px 0 2px;
}

.bottom-left-dot {
  padding: 0 8px 0 2px;
}

.three-spinning-arrows {
  position: relative;
}

.cycle-count {
  position: absolute;
  bottom: 42px;
  right: 38px;
}
