/* SUMMARY CONTAINER */

html {
  line-height: 1.2;
}

.summary-div {
  padding: 0px 20px;
}

.summary-container {
  background-color: white;
  display: flex;
  height: 100px;
  margin-bottom: 8px;
}

.main-summary-container {
  margin: 0px !important;
}

.summary-inner-container {
  margin: 0px !important;
  padding-left: 45px !important;
}

.summary-title {
  text-align: center;
}

.summary-component {
  height: 100px;
  margin: 15px 0 0 0;
  padding-right: 6px !important;
  vertical-align: middle;
  background: -webkit-linear-gradient(top, rgba(23,95,144, 0.7) 0%,rgba(17,55,92, 0.2) 100%) !important;
}

.summary-component-highlight {
  cursor: default;
  height: 100px;
  margin: 15px 0 0 0;
  padding-right: 6px !important;
  vertical-align: middle;
  box-shadow: 0px 0px 12px 5px #11375c;
  background: -webkit-linear-gradient(top, rgba(23,95,144, 0.7) 0%,rgba(17,55,92, 0.2) 100%) !important;
}

.summary-component:hover {
  cursor: pointer;
  box-shadow: 0px 1px 15px rgba(0,0,0,.7);
}

.play-container {
  margin: 30px 10px 0 0;
  padding-left: 0 !important;
  text-align: center;
}

.main-play-button {
  margin: 20px 0 20px 0;
  padding: 0 10px;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.material-icons {
  float: none !important;
}

p.cycle-container {
  font-size: 18px;
  text-align: center;
}

.play-component-btn {
  padding: 0 10px;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.nwp-hours-title {
  font-size: 13px;
  text-align: right;
  padding: 3px 0 !important;
  color: white;
  text-align: center;
  margin-top: 4px;
}

.nwp-hours-container {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  border-radius: 2px;
  margin-bottom: 10px;
  width: 70px;
}

.icon-white {
  color: white;
  border: 1px solid white !important;
  font-size: 18px;
}


.wps-text-white {
  text-align: center;
  margin: 6px 0 1px 0;
  padding-left: 20px;
  line-height: 1.5;
  color: white;
}

.wps-text-black {
  text-align: center;
  margin: 6px 0 1px 0;
  padding-left: 20px;
  line-height: 1.5;
}


/* NWP CONTAINER */

#nwp-box {
  margin-right: 20px;
  height: 130px;
  padding-right: 6px;
}

.nwp-three-dvar {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  border-radius: 2px;
  color: white;
  font-size: 13px;
  margin: auto;
  padding: 3px;
  text-align: center;
  width: 60px;
}

.nwp-three-densvar,
.nwp-four-densvar {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  border-radius: 2px;
  color: white;
  font-size: 13px;
  margin: auto;
  padding: 3px;
  text-align: center;
  width: 84px;
}

.nwp-summary-container-row {
  margin-bottom: 3px;
}

.cycling-arrows-container {
  position: absolute;
  bottom: 15px;
  left: 3px;
}

.three-spinning-arrows {
  position: absolute;
  top: 0px;
  left: 126px;
}

.three-static-arrows {
  position: absolute;
  top: 0px;
  left: 126px;
}

.cycle-count {
  position: absolute;
  top: 6px;
  left: 134px;
}

/* WPS CONTAINER */

#calendar-box {
  height: 55px;
  width: 55px;
  border-radius: 2px;
  display: inline-block;
  margin: 0 10px 0 0;
}

#domain-box {
  height: 55px;
  width: 55px;
  border-radius: 2px;
  display: inline-block;
  margin: 0 10px 0 0;
  overflow: hidden;
}

#jobType-box {
  height: 55px;
  width: 55px;
  border-radius: 100px;
  display: inline-block;
}

.initial-boundary-container {
  position: relative;
  height: 58px;
  width: 58px;
}

.gfs-image,
.hrrr-image,
.nam-image {
  height: 58px;
  width: 58px;
  border-radius: 100px;
  -webkit-box-shadow: 0px 1px 8px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 1px 8px rgba(0,0,0,.7);
  box-shadow: 0px 1px 8px rgba(0,0,0,.7);
}

.gfs-summary-acronym-lettering,
.hrrr-summary-acronym-lettering,
.nam-summary-acronym-lettering  {
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 17px 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  height: 58px;
  width: 58px;
}

.hrrr-summary-acronym-lettering {
  font-size: 17px;
  letter-spacing: 1.5px;
  padding: 18px 0;
}

.nam-summary-acronym-lettering {
  font-size: 20px;
  letter-spacing: 1.4px;
}

#wps-box {
  float: left;
  padding-right: 6px;
}

.wps-three-boxes {
  text-align: center;
}

.wps-job-icon {
  float: right !important;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

/* DA CONTAINER */

.image-summary-container {
  display: flex;
}

.gsi-summary-image-container,
.wrfda-summary-image-container {
  margin: 2px auto 0 auto;
  position: relative;
}

.gsi-summary-image,
.wrfda-summary-image {
  border-radius: 100px;
  box-shadow: 0px 1px 8px rgba(0,0,0,.7);
  height: 58px;
  width: 58px;
  margin: 0 auto;
}

.ncep-summary-text,
.wrfda-summary-text {
  border-radius: 100px;
  background-color: rgba(21, 94, 101, 0.3);
  color: white;
  /* margin-top: -42px;
  margin-left: 6px; */
  font-weight: bold;
  font-size: 17px;
  padding: 20px 0;
  position: absolute;
  top: 48%;
  left: 50%;
  height: 57px;
  width: 58px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.wrfda-summary-text {
  font-size: 15px !important;
}

/* ARROWS */

.top-left-corner-cycle-arrow {
  transform: rotate(180deg);
  color: lightgray;
  margin: 55px 5px 0 0;
}

.top-right-corner-cycle-arrow {
  color: lightgray;
  margin: 55px 0 0 0;
  transform: rotate(270deg);
}

.top-right-arrow-div {
  margin: 0;
  padding: 0 !important;
  position: relative;
  width: 20px;
  line-height: .9;
}

.top-left-arrow-div {
  margin: 0 12px;
  padding: 0 !important;
  position: relative;
  width: 20px;
  line-height: .9;
}

.top-cycle-arrow {
  color: lightgray;
  margin: 50px 1px;
  transform: rotate(180deg);
}

.three-wrf-arrows {
  color: lightgray;
  transform: rotate(180deg);
  font-size: 18px;
}

.three-arrows-from-wrf {
  margin: 0;
}

.three-wrf-arrows-top {
  margin: 32px 0 0 0;
  color: lightgray;
  transform: rotate(180deg);
  font-size: 18px;
}

.three-wrf-arrows-container {
  padding: 0 2px 0 4px !important;
}

.bottom-cycle-arrow {
  color: lightgray;
  margin: 10px 0 10px 0;
  padding-top: 10px;
}

.bottom-right-corner-cycle-arrow {
  float: right;
  margin: 10px 0 0 0;
  padding: 6px 0 0 0;
  color: lightgray;
}

.bottom-right-arrow {
  margin: 0 80px 10px 0;
  padding-top: 10px;
}

.bottom-left-corner-cycle-arrow {
  float: left;
  transform: rotate(90deg);
  margin: 26px 0 15px 20px;
  color: lightgray;
}

.bottom-arrow-div {
  display: flex;
  padding: 0 0 0 44px !important;
  height: 10px;
}

.dot {
  font-size: 5px;
  padding: 19px 0;
  margin: 10px auto;
  color: lightgray;
}

.small-dot {
  font-size: 3px;
  padding: 20px 0;
  margin: 0 auto;
  color: lightgray;
}

.top-right-dot {
  margin: 0 12px;
  padding: 0;
}

.bottom-right-dot {
  margin: 0 12px;
  padding: 0;
}

.top-left-dot {
  padding: 0 8px 0 2px;
  margin: 0;
}

.bottom-left-dot {
  padding: 0 8px 0 2px;
  margin: 0 !important;
}

.far-right-straight-arrow {
  padding: 0;
}

.arrow-placeholder {
  height: 42px;
}

.top-left-arrow-div-placeholder {
  width: 20px;
  padding: 0 !important;
  height: 100px;
  margin: 0 12px;
}

.top-cycle-arrow-placeholder {
  width: 47.75px;
  height: 100px;
}

.bottom-cycle-arrow-small {
  color: lightgray;
  margin: 3px 0 10px 0;
  padding-top: 10px;
  font-size: 16px;
}

.bottom-left-corner-cycle-arrow-small {
  float: left;
  transform: rotate(90deg);
  margin: 16px 0 15px 5px;
  color: lightgray;
  font-size: 16px;
}

.bottom-right-corner-cycle-arrow-small {
  float: right;
  padding: 10px 0 0 0;
  color: lightgray;
  font-size: 16px;
}

.top-right-corner-cycle-arrow-small {
  transform: rotate(270deg);
  padding: 0 !important;
  margin: 79px 0 0 0;
  color: lightgray;
  font-size: 16px;
}

.top-small-arrow-container {
  margin: 0;
  height: 10px;
}

.small-arrow-container-two {
  padding: 0 30px;
}

.small-arrow-container-three {
  padding: 0 15px;
}

.bottom-arrow-spacer-threedensvar {
  height: 12px;
}

.bottom-arrow-spacer-threedens {
  height: 42px;
}
