.material-icons{
  margin: 0px;
  float: left;
}

h5 {
  margin: 30px 45px 15px 45px;
}

.back-button {
  margin: 15px 0 0 5px;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
}

.new-job-continue-button {
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  font-family: 'Orbitron', sans-serif;
}

.job-name-title {
  font-family: 'Orbitron', sans-serif;
}
