.modal-content {
  padding: 0 !important;
  height: 74%;
}

.modal-overlay {
  z-index: 1002;
  display: block;
  opacity: 0.5;
}

.wrf-modal {
  z-index: 1003;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 8%;
  background-color: white;
}

.modal {
  max-height: 85%;
  width: 820px;
}

.wrf-title {
  margin: 25px 0 20px 0 !important;
  font-weight: 400;
}

.wrf-headers-container {
  height: 350px;
  overflow-y: auto;
  float: left;
}

.wrf-search-form {
  display: flex;
  width: 280px !important;
  margin: 15px 0 0 0;
}


.file-arrow {
  vertical-align: middle;
  font-size: 15px;
}

.no-subhead {
  padding-left: 20px !important;
}

.no-terthead {
  padding-left: 30px !important;
}

.wrf-btn {
  cursor: pointer;
  padding-left: 5px;
}

.wrf-sub-btn {
  cursor: pointer;
  padding-left: 15px;
}

.wrf-tert-btn {
  cursor: pointer;
  padding-left: 40px;
}

.wrf-btn:hover,
.wrf-sub-btn:hover,
.wrf-tert-btn:hover {
  background: rgb(30,30,30,0.1);
}

.wrf-btn-selected {
  background: rgb(0,128,255, 0.2) !important;
}

.name-input-fields-container {
  flex-wrap: wrap;
  height: 360px;
  overflow-y: auto;
  padding-right: 20px !important;
  padding-top: 1px !important;
}

.namelist-row {
  margin: 0px;
  width: 100%;
  overflow: hidden;
}

.namelist-row:hover {
  background: rgb(30,30,30,0.1);
  cursor: pointer;
}

.wrf-name-fields {
  border: none;
  float: left;
  margin: 0 0 0 20px;
  height: 34px;
  padding: 8px 7px !important;
  vertical-align: middle;
}

.wrf-input-fields {
  display: flex;
  width: auto;
}

.default-and-input {
  display: flex;
}

.default-name-value {
  padding: 8px 7px !important;
}

.name-input-arrow {
  font-size: 20px;
  height: 10px;
}

.name-input-button {
  margin: 7px 10px;
  padding: 0;
  height: 20px;
  background: -webkit-linear-gradient(top, #175f90 0%,#11375c 100%);
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  color: white;
}
