.modal-content {
  padding: 0 !important;
  height: 360px;
}

.modal-overlay {
  z-index: 1002;
  display: block;
  opacity: 0.5;
}

.wrf-modal {
  z-index: 1003;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 5%;
  background-color: white;
}

.modal {
  max-height: 100%;
  width: 720px;
}

.wrf-title {
  margin: 25px 0 20px 0 !important;
  font-weight: 400;
}

.wrf-headers-container {
  height: 350px;
  overflow-y: auto;
  float: left;
}

.wrf-search-form {
  display: flex;
  width: 230px !important;
  margin: 15px 0 0 0;
  padding-right: 20px !important;
}

.file-arrow {
  vertical-align: middle;
  font-size: 15px;
}

.wrf-btn {
  cursor: pointer;
  padding-left: 5px;
}

.wrf-sub-btn {
  cursor: pointer;
  padding-left: 20px;
}

.wrf-tert-btn {
  cursor: pointer;
  padding-left: 35px;
}

.wrf-btn:hover,
.wrf-sub-btn:hover,
.wrf-tert-btn:hover {
  background: rgb(30,30,30,0.1) !important;
}

.wrf-btn-selected {
  background: rgb(0,128,255, 0.2) !important;
}

/* .time-control-btn,
.time-control-general-btn,
.time-control-history-files-btn,
.time-control-history-files-intervals-btn,
.time-control-history-files-time-btn,
.domains-btn,
.domains-general-btn,
.domains-basic-time-step-btn,
.domains-adaptive-time-step-btn,
.domains-hor-vert-interpolation-btn,
.domains-three-d-ocean-btn,
.physics-btn,
.physics-general-btn,
.physics-microphysics-btn,
.physics-radiation-btn,
.physics-land-ocean-btn,
.physics-boundary-layer-btn,
.physics-cumulus-btn,
.physics-lightning-btn,
.stoch-btn,
.stoch-general-btn,
.stoch-sppt-btn,
.stoch-skebs-btn,
.stoch-spp-btn,
.noah-mp-btn,
.fdda-btn,
.dynamics-btn,
.bdy-control-btn,
.namelist-quilt-btn,
.dfi-control-btn {
  background: white;
  color: black;
  border-radius: 1px;
  box-shadow: none;
  font-size: 12px;
  padding: 5px 5px 5px 10px;
  margin: 1px 0 0 5px;
  height: auto;
  max-height: 34px;
  line-height: 12px;
  text-transform: none;
  text-align: left;
  width: 140px;
  -webkit-transition: none;
}

.stoch-sppt-btn,
.stoch-skebs-btn,
.stoch-spp-btn {
  max-height: 46px;
}

.time-control-btn:hover,
.time-control-general-btn:hover,
.time-control-history-files-btn:hover,
.time-control-history-files-intervals-btn:hover,
.time-control-history-files-time-btn:hover,
.domains-btn:hover,
.domains-general-btn:hover,
.domains-basic-time-step-btn:hover,
.domains-adaptive-time-step-btn:hover,
.domains-hor-vert-interpolation-btn:hover,
.domains-three-d-ocean-btn:hover,
.physics-btn:hover,
.physics-general-btn:hover,
.physics-microphysics-btn:hover,
.physics-radiation-btn:hover,
.physics-land-ocean-btn:hover,
.physics-boundary-layer-btn:hover,
.physics-cumulus-btn:hover,
.physics-lightning-btn:hover,
.stoch-btn:hover,
.stoch-general-btn:hover,
.stoch-sppt-btn:hover,
.stoch-skebs-btn:hover,
.stoch-spp-btn:hover,
.noah-mp-btn:hover,
.fdda-btn:hover,
.dynamics-btn:hover,
.bdy-control-btn:hover,
.namelist-quilt-btn:hover,
.dfi-control-btn:hover {
  background: rgb(30,30,30,0.1) !important;
  border-radius: 1px;
  box-shadow: none;
}

.time-control-selected,
.time-control-general-selected,
.time-control-history-files-selected,
.time-control-history-intervals-selected,
.time-control-history-time-selected,
.domains-selected,
.domains-general-selected,
.domains-basic-time-step-selected,
.domains-adaptive-time-step-selected,
.domains-hor-vert-interpolation-selected,
.domains-three-d-ocean-selected,
.physics-selected,
.physics-general-selected,
.physics-microphysics-selected,
.physics-radiation-selected,
.physics-land-ocean-selected,
.physics-boundary-layer-selected,
.physics-cumulus-selected,
.physics-lightning-selected,
.stoch-selected,
.stoch-general-selected,
.stoch-sppt-selected,
.stoch-skebs-selected,
.stoch-spp-selected,
.noah-mp-selected,
.fdda-selected,
.dynamics-selected,
.bdy-control-selected,
.namelist-quilt-selected,
.dfi-control-selected {
  background: rgb(0,128,255, 0.2) !important;
}

.time-control-selected:hover,
.time-control-general-selected:hover,
.time-control-history-files-selected:hover,
.time-control-history-intervals-selected:hover,
.time-control-history-time-selected:hover,
.domains-selected:hover,
.domains-general-selected:hover,
.domains-basic-time-step-selected:hover,
.domains-adaptive-time-step-selected:hover,
.domains-hor-vert-interpolation-selected:hover,
.domains-three-d-ocean-selected:hover,
.physics-selected:hover,
.physics-general-selected:hover,
.physics-microphysics-selected:hover,
.physics-radiation-selected:hover,
.physics-land-ocean-selected:hover,
.physics-boundary-layer-selected:hover,
.physics-cumulus-selected:hover,
.physics-lightning-selected:hover,
.stoch-selected:hover,
.stoch-general-selected:hover,
.stoch-sppt-selected:hover,
.stoch-skebs-selected:hover,
.stoch-spp-selected:hover,
.noah-mp-selected:hover,
.fdda-selected:hover,
.dynamics-selected:hover,
.bdy-control-selected:hover,
.namelist-quilt-selected:hover,
.dfi-control-selected:hover {
  background: -webkit-linear-gradient(rgb(43,115,164) 0%, rgb(37,75,112) 80%);
}

.time-control-btn:focus,
.time-control-general-btn:focus,
.time-control-history-files-btn:focus,
.time-control-history-files-intervals-btn:focus,
.time-control-history-files-time-btn:focus,
.domains-btn:focus,
.domains-general-btn:focus,
.domains-basic-time-step-btn:focus,
.domains-adaptive-time-step-btn:focus,
.domains-hor-vert-interpolation-btn:focus,
.domains-three-d-ocean-btn:focus,
.physics-btn:focus,
.physics-general-btn:focus,
.physics-microphysics-btn:focus,
.physics-radiation-btn:focus,
.physics-land-ocean-btn:focus,
.physics-boundary-layer-btn:focus,
.physics-cumulus-btn:focus,
.physics-lightning-btn:focus,
.stoch-btn:focus,
.stoch-general-btn:focus,
.stoch-sppt-btn:focus,
.stoch-skebs-btn:focus,
.stoch-spp-btn:focus,
.noah-mp-btn:focus,
.fdda-btn:focus,
.dynamics-btn:focus,
.bdy-control-btn:focus,
.namelist-quilt-btn:focus,
.dfi-control-btn:focus {
  background: white;
} */

/* SUBHEADERS */
/* .time-control-general-btn,
.time-control-history-files-btn,
.domains-general-btn,
.domains-basic-time-step-btn,
.domains-adaptive-time-step-btn,
.domains-hor-vert-interpolation-btn,
.domains-three-d-ocean-btn,
.physics-general-btn,
.physics-microphysics-btn,
.physics-radiation-btn,
.physics-land-ocean-btn,
.physics-boundary-layer-btn,
.physics-cumulus-btn,
.physics-lightning-btn,
.stoch-general-btn,
.stoch-sppt-btn,
.stoch-skebs-btn,
.stoch-spp-btn {
  margin: 1px 0 1px 30px;
} */

/* TERTIARY HEADERS */
/* .time-control-history-files-intervals-btn,
.time-control-history-files-time-btn {
  margin: 1px 0 1px 40px;
} */
